<div class="container" hm-options="{transform: false,prevent_default: true,scale_treshold: 0,drag_min_distance: 0}" hm-drag-start = "onDragStart($event)" hm-drag = "onDrag($event)" hm-drag-end = "onDragEnd($event)">
    <h2>
        你在荒岛上居住了3年，在荒岛上有了家庭和孩子，如果选择一样东西来给你的孩子讲述你的童年，你会选择？
    </h2>
    <div class="s-shadow item left-5 top-1" data-type="1">钢铁是怎样炼成的</div>
    <div class="s-shadow item left-6 top-1" data-type="2">黑猫警长</div>
    <div class="s-shadow item left-7 top-1" data-type="3">天线宝宝</div>

    <div class="f-shadow-2 tgt">将答案拽进里面</div>
    <div class="u-ms">第2题国语/粤语分支</div>
</div>