<div class="container" hm-options="{transform: false,prevent_default: true,scale_treshold: 0,drag_min_distance: 0}"  hm-drag-start = "onDragStart($event)" hm-drag = "onDrag($event)" hm-drag-end = "onDragEnd($event)">
    <h2>
        韩太平洋怪物入侵地球了，有一个荒岛可以躲避，生活物资齐备， 你还可以带一张唱片过去丰富你的业余生活你会选择？
    </h2>
        <div class="s-shadow item left-1 top-1" data-type="1">国语</div>
        <div class="s-shadow item left-2 top-1" data-type="2">粤语</div>
        <div class="s-shadow item left-3 top-1" data-type="3">英语</div>
        <div class="s-shadow item left-4 top-1" data-type="4">日语</div>
        <div class="s-shadow item left-5 top-2" data-type="5">韩语</div>
        <div class="s-shadow item left-6 top-2" data-type="6">小语种</div>
        <div class="s-shadow item left-7 top-2" data-type="7">轻音乐</div>
    <div class="f-shadow-2 tgt">将答案拽进里面</div>
</div>